.react-multi-carousel-dot button {
    background-color: white; /* Tailwind gray-400 */
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    transition: background-color 0.3s ease;
    border: none;
    margin: 0 4px; /* spacing between dots */
  }
  
  .react-multi-carousel-dot--active button {
    background-color: #3b82f6 !important; /* Tailwind blue-500 */
  }
  